body {
    /* background-color: #6666CC; */ 
}

.jumbotron {
    /* background-size: 100% 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.well {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #6666ff;
    border-color: black;
}

.panel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: lightgrey;
    border-color: black;
}

